.header{
    display: flex;
    margin-top: 23px;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.hr{
    width: 67px;
    height: 0px;
    opacity: 0.05;
    border: 1px solid #0F1E36;
    transform: rotate(90deg);
}
.logo{
    padding: 0px 20px;
    line-height: 50px;
    flex: 2;    
}
form{
    display: flex;

}
.searchbar{
    display: flex;
    padding: 0px 20px;
    line-height: 50px;
    flex: 4;
}
.searchbar input {
    width: 100%;
    height: 50px;
    order: 2;

  }
  .searchbar button {
    order: 1;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 5px;
  }
  .searchbar button:before {
    content:url(/images/Serch.png);
  }
.tv-chanel{
    display:flex;
    padding: 0px 20px;
    line-height: 50px;
    flex: 1;
    justify-content: center;
}
.radio-chanel{
    display: flex;
    padding: 0px 20px;
    line-height: 50px;
    flex: 1;
    justify-content: center;

}
.notificatiom{
    display: flex;
    padding: 0px 20px;
    line-height: 50px;
    flex: 1;
    justify-content: center;
}
.account{
    display: flex;
    align-items:center;
    padding: 0px 20px;
    flex: 3;
}

.account-info p{
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 5px;
}
.account-status{
    display: flex;
}
.account-status p{
    font-size: 10px;
    line-height: 16px;
    color: #3E2AD1;
    padding: 0;
}
.status-crown{
    padding-right: 5px;
    align-self: center;
}
.photo{
flex: 1;
min-width: 50px;
margin-right: 14px;
}
.photo img{
    max-width: 100%;
}
.account-info{
flex: 4;
line-height: 5px;
}