.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  margin: 0 0 0 10px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #202124;
  opacity: .8;
}

.header__menu-item_activa {
  color: #202124;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.card {
  text-align: center;
}

.card__sticker {
  background-color: grey;
  padding: 5px 14px;
  border-radius: 100px;
  font-size: 12px;
  text-transform: uppercase;
}

.cards {
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIiwiLi4vY29tcG9uZW50cy9oZWFkZXIvX2hlYWRlci5zY3NzIiwiLi4vY29tcG9uZW50cy9oZWFkZXIvbWVudS9fbWVudS5zY3NzIiwiLi4vY29tcG9uZW50cy9oZWFkZXIvcGFnaW5hdGlvbi9fcGFnaW5hdGlvbi5zY3NzIiwiLi4vY29tcG9uZW50cy9jYXJkcy9fY2FyZHMuc2NzcyIsIi4uL2NvbXBvbmVudHMvY2FyZHMvY2FyZC9fY2FyZC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIuLi9jb21wb25lbnRzL2hlYWRlci9oZWFkZXJcIjtcclxuQGltcG9ydCBcIi4uL2NvbXBvbmVudHMvY2FyZHMvY2FyZHNcIjtcclxuXHJcbi53cmFwcGVyIHtcclxuICBtYXgtd2lkdGg6IDEyMDBweDtcclxuICBtYXJnaW46IGF1dG87XHJcbn1cclxuXHJcbiIsIkBpbXBvcnQgXCJtZW51L21lbnVcIjtcclxuQGltcG9ydCBcInBhZ2luYXRpb24vcGFnaW5hdGlvblwiO1xyXG5cclxuLmhlYWRlciB7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcclxuXHJcbiAgJl9fbmFtZSB7XHJcbiAgICBmb250LWZhbWlseTogTW9udHNlcnJhdCwgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgZm9udC1zaXplOiAxNnB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDI0cHg7XHJcbiAgfVxyXG59XHJcbiIsIi5oZWFkZXJfX21lbnUge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgbGlzdC1zdHlsZTogbm9uZTtcclxufVxyXG5cclxuLmhlYWRlcl9fbWVudS1pdGVtIHtcclxuICBtYXJnaW46IDAgMCAwIDEwcHg7XHJcbiAgZm9udC1mYW1pbHk6IE1vbnRzZXJyYXQsIHNhbnMtc2VyaWY7XHJcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xyXG4gIGZvbnQtd2VpZ2h0OiA1MDA7XHJcbiAgZm9udC1zaXplOiAxNHB4O1xyXG4gIGxpbmUtaGVpZ2h0OiAyMnB4O1xyXG4gIGNvbG9yOiAjMjAyMTI0O1xyXG4gIG9wYWNpdHk6IC44O1xyXG5cclxuICAmX2FjdGl2YSB7XHJcbiAgICBjb2xvcjogIzIwMjEyNDs7XHJcbiAgfVxyXG59XHJcbiIsIiIsIkBpbXBvcnQgXCJjYXJkL2NhcmRcIjtcclxuXHJcbi5jYXJkcyB7XHJcbiAgZm9udC1mYW1pbHk6IE1vbnRzZXJyYXQsIHNhbnMtc2VyaWY7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG59XHJcbiIsIi5jYXJkIHtcclxuICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblxyXG4gICZfX3N0aWNrZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogZ3JleTtcclxuICAgIHBhZGRpbmc6IDVweCAxNHB4O1xyXG4gICAgYm9yZGVyLXJhZGl1czogMTAwcHg7XHJcbiAgICBmb250LXNpemU6IDEycHg7XHJcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG4gIH1cclxufVxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFFQUEsQUFBQSxhQUFhLENBQUM7RUFDWixPQUFPLEVBQUUsSUFBSTtFQUNiLFVBQVUsRUFBRSxJQUFJO0NBQ2pCOztBQUVELEFBQUEsa0JBQWtCLENBQUM7RUFDakIsTUFBTSxFQUFFLFVBQVU7RUFDbEIsV0FBVyxFQUFFLHNCQUFzQjtFQUNuQyxVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsR0FBRztFQUNoQixTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLEtBQUssRUFBRSxPQUFPO0VBQ2QsT0FBTyxFQUFFLEVBQUU7Q0FLWjs7QUFIRSxBQUFELHlCQUFRLENBQUM7RUFDUCxLQUFLLEVBQUUsT0FBTztDQUNmOztBRGRILEFBQUEsT0FBTyxDQUFDO0VBQ04sT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsTUFBTTtFQUNuQixlQUFlLEVBQUUsYUFBYTtDQVMvQjs7QUFQRSxBQUFELGFBQU8sQ0FBQztFQUNOLFdBQVcsRUFBRSxzQkFBc0I7RUFDbkMsVUFBVSxFQUFFLE1BQU07RUFDbEIsV0FBVyxFQUFFLElBQUk7RUFDakIsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsSUFBSTtDQUNsQjs7QUlkSCxBQUFBLEtBQUssQ0FBQztFQUNKLFVBQVUsRUFBRSxNQUFNO0NBU25COztBQVBFLEFBQUQsY0FBVSxDQUFDO0VBQ1QsZ0JBQWdCLEVBQUUsSUFBSTtFQUN0QixPQUFPLEVBQUUsUUFBUTtFQUNqQixhQUFhLEVBQUUsS0FBSztFQUNwQixTQUFTLEVBQUUsSUFBSTtFQUNmLGNBQWMsRUFBRSxTQUFTO0NBQzFCOztBRFBILEFBQUEsTUFBTSxDQUFDO0VBQ0wsV0FBVyxFQUFFLHNCQUFzQjtFQUNuQyxPQUFPLEVBQUUsSUFBSTtFQUNiLFdBQVcsRUFBRSxNQUFNO0VBQ25CLGVBQWUsRUFBRSxNQUFNO0NBQ3hCOztBSkpELEFBQUEsUUFBUSxDQUFDO0VBQ1AsU0FBUyxFQUFFLE1BQU07RUFDakIsTUFBTSxFQUFFLElBQUk7Q0FDYiJ9 */
