.playlistWrapper {
  font-family: "Source Sans Pro", sans-serif;
}
.playlistTitle {
  margin-top: 23px;
  margin-left: 20px;
  font-weight: bolder;
}
.playlistArticle {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 150px 142px 167px 107px 82px 172px;
  font-size: 12px;
  line-height: 16px;
  color: #0f1e36;
  mix-blend-mode: normal;
  font-weight: bold;
  margin-left: 40px;
}
.trackList {
  display: grid;
  width: 760px;
  grid-template-columns: 50px 98px 143px 167px 105px 82px 50px 40px 20px;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  margin-left: 23px;
}
.trackList p {
  font-size: 12px;
  line-height: 16px;
  color: #0f1e36;
  opacity: 0.5;
}
.like {
  background: url(../images/Favourite.png);
  background-repeat: no-repeat;
}
.option {
  background: url(../images/DownloadItems.png);
  background-repeat: no-repeat;
}
.share {
  background: url(../images/Sharesong.png);
  background-repeat: no-repeat;
}
.addMenu {
  background: url(../images/Group.png);
  background-repeat: no-repeat;
  margin-top: 5px;
}
.like:hover {
  background: url(../images/Favourite-on.png);
  background-repeat: no-repeat;
}
.option:hover {
  background: url(../images/DownloadItems-on.png);
  background-repeat: no-repeat;
}
.share:hover {
  background: url(../images/Share-on.png);
  background-repeat: no-repeat;
}
.addMenu:hover {
  background: url(../images/Group-on.png);
  background-repeat: no-repeat;
  margin-top: 5px;
}
.trackList:hover {
  position: relative;
  background: white;
  box-shadow: -1px 4px 14px -3px #c0c0c0;
  opacity: 1;
}
.trackList p:hover {
  opacity: 1;
  color: #3e2ad1;
}
.number:hover {
  background: url(../images/VoiceRecorder.png);
  background-repeat: no-repeat;
}
.number:hover > p {
  display: none;
}
// mobile-screen>=350px
.mobilePlayList-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  box-sizing: border-box;
  max-width: 500px;
  padding: 15px 20px 0 20px;
}
.mobilePlayList {
  min-width: 100%;
}
.song-first,
.song-second,
.song-third,
.song-forth,
.song-fifth {
  display: flex;
  flex-direction: row;
}
.song-second,
.song-third,
.song-forth,
.song-fifth {
  margin-top: 30px;
}
.mobilePlayList-wrapper .album {
  min-width: 45px;
  height: 45px;
  flex: 1;
}
.mobilePlayList-wrapper .album img {
  max-width: 100%;
}
.songAndArtist {
  flex: 5;
  flex-direction: column;
}
.timeLenth {
  flex: 1;
  text-align: center;
}
.songNameM {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.203259px;
  color: #0f1e36;
}
.artistNameM {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.174222px;
  color: #545663;
}
.mobilePlayList-wrapper {
  display: none;
}
