<div class="playlistWrapper">
  <h1>Top Tracks</h1>
  <div class="playlistArticle">
    <div>#</div>
    <div>Song</div>
    <div>Artist</div>
    <div>Daily Plays</div>
    <div>Time</div>
    <div>Option</div>
  </div>
  <div class="trackList">
    <div class="number"><span>1</span></div>
    <div class="like"></div>
    <div class="song">Dame Dame</div>
    <div class="artistArticle">Claydee feat</div>
    <div class="dayliPlays">39,566</div>
    <div class="time">4:21</div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><span>2</span></div>
    <div class="like"></div>
    <div class="song">Kamelia</div>
    <div class="artistArticle">DDY Nunes</div>
    <div class="dayliPlays">32,420</div>
    <div class="time">3:30</div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><span>3</span></div>
    <div class="like"></div>
    <div class="song">Laugh Till You Cry</div>
    <div class="artistArticle">Faydee</div>
    <div class="dayliPlays">28,221</div>
    <div class="time">3:56</div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><span>4</span></div>
    <div class="like"></div>
    <div class="song">I don't know</div>
    <div class="artistArticle">Deejay Fly</div>
    <div class="dayliPlays">21,528</div>
    <div class="time">2:26</div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><span>5</span></div>
    <div class="like"></div>
    <div class="song">I don't know</div>
    <div class="artistArticle">Deejay Fly</div>
    <div class="dayliPlays">21,528</div>
    <div class="time">2:26</div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
</div>
<!-- mobile-screen<350px -->
<div class="mobilePlayList-wrapper">
  <div class="mobilePlayList">
    <div class="song-first">
      <div class="album Picture">
        <img src="../images/Bable.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-second">
      <div class="album Picture">
        <img src="../images/Grande.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-third">
      <div class="album Picture">
        <img src="../images/SnakePic.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-forth">
      <div class="album Picture">
        <img src="../images/PsychPic.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-fifth">
      <div class="album Picture">
        <img src="../images/Grande.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
  </div>
</div>
