<div class="playlistWrapper">
  <div class="playlistTitle"><p>Top Tracks</p></div>
  <div class="playlistArticle">
    <div><p>#</p></div>
    <div><p>Song</p></div>
    <div><p>Artist</p></div>
    <div><p>Daily Plays</p></div>
    <div><p>Time</p></div>
    <div><p>Option</p></div>
  </div>
  <div class="trackList">
    <div class="number"><p>1</p></div>
    <div class="like"></div>
    <div class="song"><p>Dame Dame</p></div>
    <div class="artistArticle"><p>Claydee feat</p></div>
    <div class="dayliPlays"><p>39,566</p></div>
    <div class="time"><p>4:21</p></div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><p>2</p></div>
    <div class="like"></div>
    <div class="song"><p>Kamelia</p></div>
    <div class="artistArticle"><p>DDY Nunes</p></div>
    <div class="dayliPlays"><p>32,420</p></div>
    <div class="time"><p>3:30</p></div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><p>3</p></div>
    <div class="like"></div>
    <div class="song"><p>Laugh Till You Cry</p></div>
    <div class="artistArticle"><p>Faydee</p></div>
    <div class="dayliPlays"><p>28,221</p></div>
    <div class="time"><p>3:56</p></div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><p>4</p></div>
    <div class="like"></div>
    <div class="song"><p>I don't know</p></div>
    <div class="artistArticle"><p>Deejay Fly</p></div>
    <div class="dayliPlays"><p>21,528</p></div>
    <div class="time"><p>2:26</p></div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
  <div class="trackList">
    <div class="number"><p>5</p></div>
    <div class="like"></div>
    <div class="song"><p>I don't know</p></div>
    <div class="artistArticle"><p>Deejay Fly</p></div>
    <div class="dayliPlays"><p>21,528</p></div>
    <div class="time"><p>2:26</p></div>
    <div class="option"></div>
    <div class="share"></div>
    <div class="addMenu"></div>
  </div>
</div>
<!-- mobile-screen<350px -->
<div class="mobilePlayList-wrapper">
  <div class="mobilePlayList">
    <div class="song-first">
      <div class="album Picture">
        <img src="../images/Bable.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-second">
      <div class="album Picture">
        <img src="../images/Grande.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-third">
      <div class="album Picture">
        <img src="../images/SnakePic.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-forth">
      <div class="album Picture">
        <img src="../images/PsychPic.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
    <div class="song-fifth">
      <div class="album Picture">
        <img src="../images/Grande.png" alt="Chainsmokers" />
      </div>
      <div class="songAndArtist">
        <div class="songNameM">Closer (feat. Halsey)</div>
        <div class="artistNameM">The Chainsmokers feat. Halsey</div>
      </div>
      <div class="timeLenth">3:13</div>
    </div>
  </div>
</div>
