.lazy {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}
.slider {
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.slick-slide img {
  width: 100%;
}
.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.9;
}

.slick-active {
  opacity: 0.9;
}

.slick-current {
  opacity: 1;
}
.my-dots {
  position: absolute;
  top: 270px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
  color: black;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
  color: black;
}

.my-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: url("/images/Rectangle\ 2.2.svg");
  text-align: center;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  content: url("/images/Rectangle\ 2.1.svg");
}
.mainSlider {
  position: relative;
}
.banner_text {
  position: absolute;
  top: 92px;
  left: 73px;
}
.small_text {
  font-size: 10px;
  line-height: 14px;
}
.big_text {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 7px;
  padding-bottom: 7px;
}
.medium_text {
  font-size: 16px;
  line-height: 14px;
}
.playBanner {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 8px #bc1428;
  border-radius: 3px;
  color: #bc1428;
  font-size: 10px;
  line-height: 14px;
  padding: 4px 15px 4px 15px;
  margin-top: 47px;
}
.playBanner:hover {
  margin-top: 48px;
}
.playTriangle {
  margin-left: 5px;
  margin-top: 2px;
}
.playTriangle img {
  width: 100%;
}
.shareBanner {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 2px 8px #bc1428;
  border-radius: 3px;
  padding: 5px;
  left: 75px;
  top: 149px;
}
.shareBanner:hover {
  margin-top: 1px;
}
