<section class="lazy slider">
  <div class="mainSlider">
    <img src="/images/banner.png" alt="banner">
    <div class="banner_text">
    <p class="small_text">// TRENDING</p>
    <p class="big_text">Akcent feat Lidia <br/>
      Buble & DDY Nunes</p>
    <p class="medium_text">- Kamelia</p>
    <button class="playBanner">PLAY <div class="playTriangle"><img src="/images/Play.png" alt="play"></div></button>
    <button class="shareBanner"><div class="shareBannerbutton"><img src="/images/Share.png" alt="share"></div></button>
  </div>
  </div>
  <div class="mainSlider">
    <img src="/images/banner.png" alt="banner">
    <div class="banner_text">
    <p class="small_text">// TRENDING</p>
    <p class="big_text">Akcent feat Lidia <br/>
      Buble & DDY Nunes</p>
    <p class="medium_text">- Kamelia</p>
    <button class="playBanner">PLAY <div class="playTriangle"><img src="/images/Play.png" alt="play"></div></button>
    <button class="shareBanner"><div class="shareBannerbutton"><img src="/images/Share.png" alt="share"></div></button>
  </div>
  </div>
  <div class="mainSlider">
    <img src="/images/banner.png" alt="banner">
    <div class="banner_text">
    <p class="small_text">// TRENDING</p>
    <p class="big_text">Akcent feat Lidia <br/>
      Buble & DDY Nunes</p>
    <p class="medium_text">- Kamelia</p>
    <button class="playBanner">PLAY <div class="playTriangle"><img src="/images/Play.png" alt="play"></div></button>
    <button class="shareBanner"><div class="shareBannerbutton"><img src="/images/Share.png" alt="share"></div></button>
  </div>
  </div>
  <div class="mainSlider">
    <img src="/images/banner.png" alt="banner">
    <div class="banner_text">
    <p class="small_text">// TRENDING</p>
    <p class="big_text">Akcent feat Lidia <br/>
      Buble & DDY Nunes</p>
    <p class="medium_text">- Kamelia</p>
    <button class="playBanner">PLAY <div class="playTriangle"><img src="/images/Play.png" alt="play"></div></button>
    <button class="shareBanner"><div class="shareBannerbutton"><img src="/images/Share.png" alt="share"></div></button>
  </div>
  </div>
</section>