<div class="slider">
    <div class="single-item">
        <div><img src="/images/banner.png" alt="banner"></div>
        <div><img src="/images/banner.png" alt="banner"></div>
        <div><img src="/images/banner.png" alt="banner"></div>
      </div>
</div>
<script type="text/javascript" src="/jquery-3.5.0.js"></script>
<script type="text/javascript" src="/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.single-item').slick({
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll:1,
        autoplay: true,
        autoplaySpeed: 3000,
        speed:300,
      });
    });
  </script>