#verticalMenu{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 43px;
    margin-left: 20px;
    font-size: 12px;
    font-weight:800;
    min-width: 150px;
    max-width: 150px;
}
.smallMenu,.myTracks,.playList{
    line-height: 35px;
    display:inline-block;
}
.smallMenu.first{
    background: url(/images/Discover.png);
}
.smallMenu.second{
    background: url(/images/Albums.png);
}
.smallMenu.third{
    background: url(/images/Artists.png);
}
.smallMenu.forth{
    background: url(/images/YouTube.png);
}
.myTracksmenu.second{
    background: url(/images/Favourite.png);
}
.myTracksmenu.third{
    background: url(/images/RecentHistory.png);
}
.myTracksmenu.forth{
    background: url(/images/DownloadItems.png);
}
.myTracksmenu.fifth{
    background: url(/images/LocalFiles.png);
}
.playList.second,.playList.third,.playList.forth,.playList.fifth{
    background: url(/images/Add.png);
}
.smallMenu.first,.smallMenu.second,.smallMenu.third,.smallMenu.forth,.myTracksmenu.second,.myTracksmenu.third,.myTracksmenu.forth,.myTracksmenu.fifth,.playList.second,.playList.third,.playList.forth,.playList.fifth {
    background-repeat: no-repeat;
    background-position-y: 12px;
}
.smallMenu.first:hover{
    background: url(/images/Discover-on.png);
}
.smallMenu.second:hover{
    background: url(/images/Albums-on.png);
}
.smallMenu.third:hover{
    background: url(/images/Artists-on.png);
}
.smallMenu.forth:hover{
    background: url(/images/Youtube-on.png);
}
.myTracksmenu.second:hover{
    background: url(/images/Favourite-on.png);
}
.myTracksmenu.third:hover{
    background: url(/images/RecentHistory-on.png);
}
.myTracksmenu.forth:hover{
    background: url(/images/DownloadItems-on.png);
}
.myTracksmenu.fifth:hover{
    background: url(/images/LocalFiles-on.png);
}
.playList.second:hover,.playList.third:hover,.playList.forth:hover,.playList.fifth:hover{
    background: url(/images/PlayList-on.png);
}
.smallMenu.first:hover,.smallMenu.second:hover,.smallMenu.third:hover,.smallMenu.forth:hover,.myTracksmenu.second:hover,.myTracksmenu.third:hover,.myTracksmenu.forth:hover,.myTracksmenu.fifth:hover,.playList.second:hover,.playList.third:hover,.playList.forth:hover,.playList.fifth:hover {
    background-repeat: no-repeat;
    background-position-y: 12px;
}
.smallMenu span,.myTracks span,.playList span{
    color: #0F1E36;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-left: 30px;
}
.smallMenu :hover,.myTracksmenu :hover,.playList :hover {
    color:#3E2AD1;
    opacity: 1;
}
#verticalMenu .myTracks li a .bold-menu,#verticalMenu{
    padding: 0 ;
    color: black ;
    opacity: 1 ;
}
.playListAdd{
    line-height: 35px;
    display: flex;
    max-width: 150px;
}
.bold-menu{
    flex: 9;
}
.addBtn{
    background:url(/images/Plus.png);
    background-repeat: no-repeat;
    background-position-y: 11px ;
    flex:2;
}
.addBtn:hover{
    background:url(/images/Plus-on.png);
    background-repeat: no-repeat;
    background-position-y: 11px ;
    cursor: cell;

}