<nav id="verticalMenu">
    <ul class="mainMenu">
        <li><a href="#"><div class="smallMenu first"><span>Discover</span></div></a></li>
        <li><a href="#"><div class="smallMenu second"><span>Albums</span></div></a></li>
        <li><a href="#"><div class="smallMenu third"><span>Artists</span></div></a></li>
        <li><a href="#"><div class="smallMenu forth"><span>YouTube</span></div></a></li>
    </ul>
    <ul class="myTracks">
        <li><div class="bold-menu">My Tracks</div></li>
        <li><a href="#"><div class="myTracksmenu second"><span>Favourite</span></div></a></li>
        <li><a href="#"><div class="myTracksmenu third"><span>Recent History</span></div></a></li>
        <li><a href="#"><div class="myTracksmenu forth"><span>Download Items</span></div></a></li>
        <li><a href="#"><div class="myTracksmenu fifth"><span>Local Files</span></div></a></li>
    </ul>
    <div class="playListAdd">
        <div class="bold-menu">Playlist</div>
        <div class="addBtn"><a href="#"></a></div>
    </div>
    <ul class="playList">
        <li><a href="#"><div class="playList second"><span>Bangla</span></div></a></li>
        <li><a href="#"><div class="playList third"><span>English</span></div></a></li>
        <li><a href="#"><div class="playList forth"><span>My Style</span></div></a></li>
        <li><a href="#"><div class="playList fifth"><span>Hindi</span></div></a></li>
    </ul>
</nav>