<div class="podcast"><p>Featured Tracks</p></div>
<section class="artist slider">
  <div class="song-card">
     <img src="./images/Rectangle.png"alt="albumPhoto"> 
    <p class="songName">Sucker</p> 
    <p class="artistName">Jonas Brothers</p> 
  </div>
  <div class="song-card">
    <img src="./images/Mask.png"alt="albumPhoto"> 
    <p class="songName">I Don’t Care</p> 
   <p class="artistName">Ed Sheeran & Bieber's</p> 
 </div>
 <div class="song-card">
  <img src="./images/RectangleOld.png"alt="albumPhoto"> 
  <p class="songName">Old Town Road</p> 
 <p class="artistName">Lil Nas</p> 
</div>
<div class="song-card">
  <img src="./images/RectangleGo.png"alt="albumPhoto"> 
  <p class="songName">Can't Let Go</p> 
 <p class="artistName">Feydee</p> 
</div>
<div class="song-card">
  <img src="./images/MaskShaggy.png"alt="albumPhoto"> 
  <p class="songName">I need Your love</p> 
 <p class="artistName">Faydee </p> 
</div>
<div class="song-card">
  <img src="./images/RectangleOtilla.png"alt="albumPhoto"> 
  <p class="songName">Otilia </p> 
 <p class="artistName">Bilionera </p> 
</div>
<div class="song-card">
  <img src="./images/RectangleCent.png"alt="albumPhoto"> 
  <p class="songName">Kamelia</p> 
 <p class="artistName">DDY Nunes </p> 
</div>
</section>