.player {
  position: fixed;
  display: flex;
  bottom: 0;
  max-width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0f1e36;
}
.playerWrap {
  position: relative;
  display: grid;
  grid-template-columns: 167px 1fr;
}
.previewBlock {
  display: grid;
  background-color: #f51e38;
  grid-template-columns: 64px 1fr;
}
.albumImage {
  max-width: 40px;
  padding: 12px 0px 10px 24px;
}
.albumImage img {
  max-width: 100%;
}
.playerSonginfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 8px;
  align-items: end;
}
.playerArtistleftBar {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.songNameleftBar {
  font-size: 10px;
  line-height: 12px;
  color: #f79da8;
  mix-blend-mode: normal;
  box-sizing: border-box;
  align-self: start;
}
.playerNav {
  display: grid;
  grid-template-columns: 48px 47px 72px 92px 59px 34px 338px 85px 51px 2rem;
}
.shortMenu {
  position: absolute;
  min-width: 20px;
  box-sizing: border-box;
  top: 1px;
  left: 147px;
  text-align: center;
  opacity: 0.9;
}
#check-menu {
  display: none;
}
.playerMenu {
  display: block;
  position: absolute;
  width: 10px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.burger-line-first,
.burger-line-second {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 14px;
  background-color: white;
  height: 2px;
  border-radius: 40%;
  transition: 0.5s all;
}
.burger-line-second {
  top: 10px;
}
.burger-line-third {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 8px;
  background-color: white;
  height: 2px;
  border-radius: 40%;
  transition: 0.5s all;
}
.player-menu {
  display: block;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  min-width: 167px;
  left: -147px;
  max-height: 0;
  font-size: 0;
  transition: 0.5s all;
  background-color: #ffffff;
  opacity: 1;
  box-shadow: -1px 4px 14px -3px #c0c0c0;
}
.playerMenuWrap {
  width: 45%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.player-menu a {
  display: block;
  width: 100%;
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.5;
  transition: 0.3s linear;
}

.player-menu a:hover {
  display: block;
  text-decoration: none;
  color: rgb(236, 9, 35);
  opacity: 1;
}
#check-menu:checked ~ .player-menu {
  max-height: 500px;
  font-size: 12px;
  line-height: 16px;
}
#check-menu:checked ~ .burger-line-first {
  transform: translateY(5px);
  z-index: 1;
}
#check-menu:checked ~ .burger-line-second {
  transform: translateY(5px);
  z-index: 1;
}
#check-menu:checked ~ .burger-line-third {
  transform: translateY(-10px);
  z-index: 1;
}
.player-menu :nth-last-child(1) {
  padding-bottom: 10px;
}
.repeat {
  background-image: url(../images/Repeat.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 23px;
}
.tools {
  background-image: url(../images/Option.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 31px;
}
.previousSong {
  background-image: url(../images/BackwardL.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 56px;
}
.playStop {
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.pulse {
  top: 50%;
  left: 30px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #f51e38;
  opacity: 0.8;
  line-height: 40px;
  transition: 0.5s;
}
.pulse:hover > .pause {
  opacity: 1;
}
.pulse:hover > .play {
  opacity: 0;
}

.pause {
  position: absolute;
  text-align: center;
  line-height: 37px;
  width: 37px;
  height: 37px;
}
.play {
  position: absolute;
  text-align: center;
  line-height: 35px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.pause {
  opacity: 0;
  cursor: pointer;
}

.play::before,
.play::after {
  position: absolute;
  content: "";
  border: 1px solid #f51e38;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  animation: pulse 1s ease-in infinite;
  cursor: pointer;
}
@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.5;
    border: 10px solid #f51e38;
  }
  100% {
    transform: scale(1);
    opacity: 0.1;
    border: 15px solid #f51e38;
  }
}
.nextSong {
  background-image: url(../images/Backward.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.leftTime {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  align-self: center;
}
.progressBar {
  display: grid;
  align-content: center;
  background-image: url(../images/Backwardt.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.progressBar img {
  max-width: 100%;
  min-height: 4px;
}
.totalTime {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  align-self: center;
}
.volume {
  background-image: url(../images/Volume.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.fullScreen {
  background-image: url(../images/WindowSize.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.repeat:hover,
.tools:hover,
.previousSong:hover,
.nextSong:hover,
.volume:hover,
.fullScreen:hover {
  transform: scale(0.9);
  cursor: pointer;
}
// mobile-screen<350px

.mobilePlayerButton {
  display: flex;
  position: relative;
  margin: 30px auto;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.mobilePlayerButWrapper {
  display: grid;
  position: absolute;
  top: 45px;
  left: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px;
  transform: rotate(45deg);
  transition: 0.5s;
  animation: carousel 10s ease-in infinite;
}
.carousel {
  width: 62px;
  height: 62px;
  background-color: #3e2ad1;
  border-radius: 50%;
  cursor: pointer;
}
.discover {
  background-image: url(../images/DiscoverW.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-45deg);
}
.albums {
  background-image: url(../images/AlbumsW.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
}
.artists {
  background-image: url(../images/ArtistsW.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(225deg);
}
.youtube {
  background-image: url(../images/YoutubeW.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(135deg);
}

@keyframes carousel {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mBarWrapper {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100px;
}
.mobilePlayerBar {
  display: flex;
  min-width: 100%;
  background-image: url(../images/RectangleMobPlayer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 130px;
}
.mPlayWrap {
  display: flex;
  width: 100%;
  margin-top: 20%;
}
.mPlayerHome {
  background-image: url(../images/Home-on.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerTV {
  background-image: url(../images/TV.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerHide {
  background-image: url(../images/Path.png);
  background-repeat: no-repeat;
  background-position: center;
  flex: 2;
}
.mPlayerRadio {
  background-image: url(../images/Radio.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerBell {
  background-image: url(../images/Bell.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerHome:hover {
  background-image: url(../images/Home.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerTV:hover {
  background-image: url(../images/TV-on.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerHide:hover {
  background-image: url(../images/Path-on.png);
  background-repeat: no-repeat;
  background-position: center;
  flex: 2;
}
.mPlayerRadio:hover {
  background-image: url(../images/Radio-on.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mPlayerBell:hover {
  background-image: url(../images/Bell-on.png);
  background-repeat: no-repeat;
  background-position: top;
  flex: 1;
}
.mobilePlayerWrapper {
  display: none;
  position: fixed;
  bottom: 0;
}
