<div class="player">
  <div class="playerWrap">
    <div class="previewBlock">
      <div class="albumImage">
        <img src="./images/RectangleCent.png" alt="Album" />
      </div>
      <div class="playerSonginfo">
        <div class="playerArtistleftBar">Kamelia</div>
        <div class="songNameleftBar">Akcent ft Lidia <br />Buble&DDY Nunes</div>
        <div class="shortMenu">
          <input type="checkbox" id="check-menu" />
          <label class="playerMenu" for="check-menu">1</label>
          <div class="burger-line-first"></div>
          <div class="burger-line-second"></div>
          <div class="burger-line-third"></div>
          <nav class="player-menu">
            <div class="playerMenuWrap">
              <a href="#"> Add to playlist</a>
              <a href="#">Add to favorite </a>
              <a href="#"> Save to</a>
              <a href="#">Send to friend</a>
              <a href="#">Comment </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="playerNav">
      <div class="repeat"></div>
      <div class="tools"></div>
      <div class="previousSong"></div>
      <div class="playStop">
        <div class="pulse">
          <div class="play"><img src="../images/playBtn.png" alt="Play" /></div>
          <div class="pause"><img src="../images/Pause.png" alt="Pause" /></div>
        </div>
      </div>
      <div class="nextSong"></div>
      <div class="leftTime">02:54</div>
      <div class="progressBar">
        <img src="../images/Progress-bar.png" alt="" />
      </div>
      <div class="totalTime">03:29</div>
      <div class="volume"></div>
      <div class="fullScreen"></div>
    </div>
  </div>
</div>
  <!-- mobile-screen<350px -->
  <div class="mobilePlayerWrapper">
      <div class="mobilePlayerButton">
        <div class="hoverWrapper">
          <div class="mobilePlayerButWrapper">
            <a class="carousel discover" href="#"></a>
            <a class="carousel albums" href="#"></a>
            <a class="carousel artists" href="#"></a>
            <a class="carousel youtube" href="#"></a>
          </div>
        </div>
      </div>
      <div class="mBarWrapper">
      <div class="mobilePlayerBar">
        <div class="mPlayWrap">
        <a class="mPlayerHome" href="#"></a>
        <a class="mPlayerTV" href="#"></a>
        <a class="mPlayerHide" href="#"></a>
        <a class="mPlayerRadio" href="#"></a>
        <a class="mPlayerBell" href="#"></a>
      </div>
       </div>
        </div>
      </div>
    </div>